<!DOCTYPE html>
<!--[if IE 7 | IE 8]>
<html class="ie" dir="ltr" lang="zh-cn">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html dir="ltr" lang="zh-cn">
<!--<![endif]-->
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="robots" content="noindex,nofollow"/>
  <meta name="generator" content="markpress"/>
  <meta name="description" content="{{ page.title }}"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:title" content="{{ blog.title }}"/>
  <meta property="og:url" content="{{ blog.url }}"/>
  <meta property="og:description" content="{{ page.title }}"/>
  <meta property="og:site_name" content="{{ blog.title }}"/>
  <title>{{ page.title }} &middot; {{ blog.title }}</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" id="fonts-css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" type="text/css" media="all"/>
  <link rel="stylesheet" id="all-css" href="{{ blog.url }}/style.min.css" type="text/css" media="all"/>
  <link rel="alternate" type="application/atom+xml" title="{{ blog.title }}" href="{{ blog.url }}/atom.xml"/>
</head>
<body class="blog">
  <div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
      <hgroup>
        <h1 class="site-title"><a href="{{ blog.url }}" title="{{ blog.title }}" rel="home">{{ blog.title }}</a></h1>
        <!--<h2 class="site-description"></h2>-->
      </hgroup>
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <h3 class="menu-toggle">Menu</h3>
        <div class="skip-link assistive-text">
          <a href="#content" title="Skip to content">Skip to content</a>
        </div>
        <div class="menu-main-menu-container">
          <ul id="menu-main-menu" class="nav-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="{{ blog.url }}">Home</a>
            </li>
            {{ page.menubar }}
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="http://xiao-jia.com/">Back to Homepage</a>
            </li>
          </ul>
        </div>
      </nav><!-- #site-navigation -->
    </header><!-- #masthead -->
    <div id="main" class="wrapper">
      <div id="primary" class="site-content">
        <div id="content" role="main">{{ page.content }}</div>
      </div>
      <div id="secondary" class="widget-area" role="complementary">
        <aside class="flair"><a href="http://stackexchange.com/users/905286/xiao-jia"><img src="http://stackexchange.com/users/flair/905286.png" width="208" height="58" alt="profile for Xiao Jia on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Xiao Jia on Stack Exchange, a network of free, community-driven Q&amp;A sites" /></a></aside>
        <aside class="nothing">&nbsp;</aside>
        {{ page.sidebar }}
      </div>
    </div><!-- #main .wrapper -->
    <footer id="colophon" role="contentinfo">
      <div class="site-info">
        Copyright &copy; 2012 <a href="{{ blog.url }}">{{ blog.author }}</a> &middot;
        Themed by <a href="http://theme.wordpress.com/themes/twentytwelve/">Twenty Twelve</a> &middot;
        Powered by <a href="https://github.com/stfairy/markpress" rel="generator">markpress</a>
      </div><!-- .site-info -->
    </footer><!-- #colophon -->
  </div><!-- #page -->
  <a href="https://github.com/stfairy/markpress"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
<script async="async" type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7475348-6']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
